<mat-toolbar>
  <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer" mode="side">
    <div>
      <a mat-button routerLink="/welcome">Welcome</a>
    </div>
    <div>
      <a mat-button routerLink="/badge">Badge</a>
    </div>
    <div>
      <a mat-button routerLink="/button">Button</a>
    </div>
    <div>
      <a mat-button routerLink="/button-toggle">ButtonToggle</a>
    </div>
    <div>
      <a mat-button routerLink="/card">Card</a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
